body {
    margin: 0;
    font-size: 20px;
}

h1 {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    height: 80vh;
    width: 80vh;
    margin: 0 auto;
}

h3 {
    margin-top: 40px;
    color: white;
    font-size: 30px;
}

h4 {
    background-color: black;
    text-align: center;
    color: #F94F6D;
    font-size: 40px;
    width: 14vh;
    height: 14vh;
    border-style: dashed;
    font-family: 'Cursed Timer ULiL';
}

button {
    margin-top: 20px;
    background-color: gray;
    color: white;
    flex-direction: row;
    margin: 3px;
}

#clear {
display: flex;
align-items: end;
justify-content: center;
margin-top: -50px;
}

